root = true

[*]
end_of_line = crlf
charset = utf-8
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.{md,yml,yaml}]
indent_style = space
indent_size = 2
tab_width = 2

[*.json]
tab_width = 2
indent_size = 2

[{CMakeLists.txt,*.cmake}]
indent_style = space
indent_size = 4
tab_width = 4
